:root {
    --mau_chu_danh_muc: black;
    --mau_chu_ten_danh_muc: #f1c40f;
    --mau_chu_ten_danh_muc_hover: #007bff;
}

* {
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    margin-top: 70px;
}

.body {
    display: flex;
    justify-content: center;
}

.noidung {
    height: auto;
    width: 90%;
    max-width: 1100px;
    padding-top: 50px;
}

/* reponsive cho noidung */
@media (max-width: 700px) {
    .noidung {
        width: 95%;
    }
}

/* noidung */



.noidung__dieuhuong {
    background-color: #e9e9e9;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 25px;
    margin-bottom: 30px;
    color: #787878;
}

.noidung__dieuhuong a {
    color: #787878;
    transition: 0.3s;

}

.noidung__dieuhuong a:hover {
    color: #ff5454;

}

.noidung__search {
    padding-bottom: 15px;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;

}

.noidung__search__input {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ff5454;
    outline: #ff5454;
    width: auto;
    width: 100%;



}

.form_1 {
    width: 100%;
    display: flex;
    max-width: 300px;
}

.noidung__search__submit {
    border-radius: 10px;
    padding: 10px;
    background-color: #ff5454;
    border: 1px solid #ff5454;
    color: white;
    margin-right: 3px;
    margin-left: 3px;
    transition: 0.3s;

}

.noidung__search__submit:hover {

    background-color: #ffffff;
    border: 1px solid #ff5454;
    color: #ff5454;


}

#noidung__search__submit_all {
    border-radius: 10px;
    padding: 10px;
    background-color: #18a2fe;
    border: 1px solid #18a2fe;
    color: white;
    margin-right: 3px;
    transition: 0.3s;
}

#noidung__search__submit_all:hover {

    background-color: #ffffff;
    color: #18a2fe;

}

.noidung__thumbnal {
    margin-top: 5%;
}

.noidung__tieude {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 40px;
}

.noidung__tieude h2 {
    text-transform: uppercase;
}

.noidung__tieude__line {
    width: 100px;
    height: 4px;
    background-color: #3fb2ff;
    margin-bottom: 40px;
}


/* taikhoangame */
.noidung__thongtinacc {}

.thongtinacc__info {

    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "aa"
        "bb"
        "cc";

}

.thongtinacc__tenGame {
    font-size: 40px;
    text-transform: uppercase;
    grid-area: aa;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.thongtinacc__mota {
    grid-area: bb;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;

    gap: 0px 0px;
    grid-template-areas:
        "aa bb";
    height: 60px;

}

.thongtinacc__mota__maso {
    grid-area: aa;
    font-size: 20px;
    text-transform: uppercase;
    color: #ff5454;
    text-align: center;
}

.thongtinacc__mota__dangki {
    grid-area: bb;
    font-size: 20px;
    text-transform: uppercase;
    color: #54c9ff;
    text-align: center;
}

.noidung__tieude__line_2 {
    width: 100%;
    height: 4px;
    background-color: #707070;
    margin-bottom: 10px;
}

.thongtinacc__giatien {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 6px 6px;
    grid-template-areas:
        "aa aa"
        "bb cc";
    margin-bottom: 6px;

}

.thongtinacc__giatien_1 {
    grid-area: cc;
    color: #ff5454;
    /* border: 4px solid #ff5454; */
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2vw;
    height: 50px;

    grid-area: aa;

}

.thongtinacc__giatien_2 {
    border-radius: 2vw;
    background-color: #ff544b;
    grid-area: bb;
    color: white;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    border: 2px solid #ff544b;
    text-align: center;
}

.thongtinacc__giatien_2:hover {
    background-color: white;
    color: #ff544b;
}

.thongtinacc__giatien_3 {
    border-radius: 2vw;
    background-color: #00dafc;
    grid-area: cc;
    color: white;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    border: 2px solid #00dafc;
    text-align: center;

}

.thongtinacc__giatien_3:hover {
    background-color: white;
    color: #00dafc;
}

.thongtinacc__hinhAnh_tieude {
    margin-bottom: 10px;
}

.thongtinacc__hinhAnh_tieude div {
    margin: 0;


}

.thongtinacc__hinhAnh_tieude .noidung__tieude__line_2_text {
    display: inline-block;
    background-color: #707070;
    color: #ffffff;
    padding: 0px 5px;
    


}

.thongtinacc__hinhAnh {

    
}

.thongtinacc__hinhAnh img {
    width: 100%;
    border: 1px solid rgb(171, 171, 171);
    margin-bottom: 10px;

}

/* noidung_dichvu */
.noidung_dichvu {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px 10px;





}

.noidung_dichvu_item {

    width: 100%;
    border: 1px solid rgb(149, 149, 149);
    box-sizing: border-box;
    padding: 3px;
    transition: 0.3s;
    border-radius: 5px;
    text-align: center
}

.noidung_dichvu_item:hover {


    box-shadow: 0px 0px 5px 2px rgb(255, 79, 79);
    -webkit-box-shadow: 0px 0px 5px 2px rgb(255, 79, 79);
    -moz-box-shadow: 0px 0px 5px 2px rgb(255, 79, 79);

}

.noidung_dichvu_item img {

   


}

.noidung_dichvu_item__text {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-rows: 2fr 2fr 2fr;
    gap: 0px 0px;
    height: 45%;
    width: 100%;

}

.noidung_dichvu_item__text_1 {
    color: var(--mau_chu_ten_danh_muc);
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    height: 100%;
    padding: 10px;

}

.noidung_dichvu_item__text_2 {
    color: var(--mau_chu_ten_danh_muc_hover);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

}

.noidung_dichvu_item__text_3 {
    background-color: #ff5454;
    border-radius: 3px;
}

.noidung_dichvu_item__text_3 a div {
    border: 2px solid #d5d5d5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    transition: 0.3s;
    height: 100%;



}

.noidung_dichvu_item__text_3 a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: 0.3s;

}

.noidung_dichvu_item__text_3 a div:hover {

    border: 2px solid #ff5454;
    background-color: #ffffff;

}

.noidung_dichvu_item__text_3:hover>a {

    color: #ff5454;

}

/* reponsive cho noidung_dichvu_item */
/* hoat dong khi lon hon 1100 */
@media (min-width: 1100px) {
    .thongtinacc__giatien_1 {
        height: 70px;
    }
    .noidung_dichvu_item {

        height: calc(((1210px)/4 - 30px));

    }

    .noidung_dichvu_item__text_1 {
        font-size: 18px;
    }

    .noidung_dichvu_item__text_2 {
        font-size: 16px;
    }

    .noidung_dichvu_item__text_3 a {
        font-size: 16px;
    }
    .thongtinacc__giatien_2, .thongtinacc__giatien_3{
        font-size: 25px;

    }



}

/* hoat dong khi nho hon 1100 */
@media (max-width: 1100px) {
    .noidung_dichvu_item {

        height: calc((25vw - 30px));

    }

    .noidung_dichvu_item__text_1 {
        font-size: 18px;
    }

    .noidung_dichvu_item__text_2 {
        font-size: 16px;
    }

    .noidung_dichvu_item__text_3 a {
        font-size: 16px;
    }
    .thongtinacc__giatien_2, .thongtinacc__giatien_3{
        font-size: 20px;

    }





}

@media (max-width: 900px) {
    .noidung_dichvu {
        grid-template-columns: 1fr 1fr 1fr;

    }

    .noidung_dichvu_item {

        height: calc((100vw / 3 - 20px));


    }

    .noidung_dichvu_item__text_1 {
        font-size: 16px;
    }

    .noidung_dichvu_item__text_2 {
        font-size: 14px;
    }

    .noidung_dichvu_item__text_3 a {
        font-size: 14px;
    }
    .thongtinacc__giatien_2, .thongtinacc__giatien_3{
        font-size: 20px;
        

    }





}

@media (max-width: 730px) {
    .noidung_dichvu {
        grid-template-columns: 1fr 1fr;

    }

    .noidung_dichvu_item {

        height: calc((50vw - 10px));


    }

    .noidung_dichvu_item__text_1 {
        font-size: 14px;
    }

    .noidung_dichvu_item__text_2 {
        font-size: 12px;
    }

    .noidung_dichvu_item__text_3 a {
        font-size: 12px;
    }
    .thongtinacc__giatien_2, .thongtinacc__giatien_3{
        font-size: 20px;
        

    }





}



@media (max-width: 550px) {
    .noidung_dichvu {
        grid-template-columns: 1fr 1fr;

    }

    .noidung_dichvu_item {

        height: calc((50vw - 10px));


    }

    .noidung_dichvu_item__text_1 {
        font-size: 12px;
    }

    .noidung_dichvu_item__text_2 {
        font-size: 10px;
    }

    .noidung_dichvu_item__text_3 a {
        font-size: 10px;
    }
    .thongtinacc__giatien_2, .thongtinacc__giatien_3{
        font-size: 17px;
        

    }




}

@media (max-width: 300px) {



    .noidung_dichvu_item__text_1 {
        font-size: 10px;
    }

    .noidung_dichvu_item__text_2 {
        font-size: 8px;
    }

    .noidung_dichvu_item__text_3 a {
        font-size: 8px;
    }
    .thongtinacc__giatien_2, .thongtinacc__giatien_3{
        font-size: 12px;
        
        

    }



}